<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:ub="http://uniboard.mnemis.com/widgets" 
        id="os et muscles.swf" 
        version="1.0"
        width="782"
        height="848" 
        ub:resizable="true" >   
  <name>os et muscles</name>
  <content src="index.htm"/> 
  <access network="true"/>
</widget>
