<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:ub="http://uniboard.mnemis.com/widgets"
        identifier="http://uniboard.mnemis.com/widgets/Babygo" 
        version="0.1"
        width="800"
        height="600"
        ub:resizable="true">
      
  		<name>Album</name>
		<author href="http://www.babygo.fr/"
	            email="francois.bocquet@diena.org">Francois Bocquet</author>
		<description>Album "Babygo"</description>

        <content src="http://www.babygo.fr/"/>
</widget>