<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        id="boulier" 
        version="0.2"
        width="492"
        height="462" 
        ub:resizable="false">
		<name>Boulier</name>
		<author href="http://www.micetf.fr" email="webmaster@micetf.fr">MiCetF</author>
		<description>Boulier</description>
		<content src="index.html"/>
</widget>
