<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
  id="etiquettes"
  version="0.1"
  width="500"
  height="515" 
  ub:resizable="false">
  <name>Etiquettes</name>
  <author href="http://micetf.fr"
    email="webmaster@micetf.fr">MiCetF</author>
  <description>Générateur d'étiquettes</description>
  <content src="index.html"/>
</widget>
