*{
    margin:0;
    padding:0;
}

body {
    font:14px/1.3 Arial,sans-serif;
    /*background-image:url('/images/transparentbg.png') repeat-x;*/
}


	
.container {
    color:#000;
    margin: auto;
    position:relative;
    width:350px;
}

.column1 {
    float:left;
    width:240px;
}
 
.column2 {
    float:right;
    width:80px;
}

.column3 {
	float:left;
	width:150px;
}

.column4 {
	float:left;
	width:200px;
}

#panel {
    cursor:crosshair;
}

#swImage {
    cursor:pointer;
    height:25px;
    line-height:25px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#swImage:hover {
    margin-left:2px;
}

#preview {
    border:1px #000 solid;
    height:200px;
    width:80px;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
	-khtml-border-radius:3px;
}

#toolselection {
	width:175px;
	height:50px;
}

#colorSaver{
	width: 200px;
	height:50px;
}

#pen{
	background:url(/images/pen.png) no-repeat;
    cursor:pointer;
    width: 46px;
    height: 46px;
    border: none;
}

#marker{
	background:url(/images/marker.png) no-repeat;
	cursor:pointer;
	width: 46px;
	height: 46px;
	border: none;
}

#line{
	background:url(/images/line.png) no-repeat;
	cursor:pointer;
	width: 46px;
	height: 46px;
	border: none;
}
