<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:ub="http://uniboard.mnemis.com/widgets"
        identifier="http://uniboard.mnemis.com/widgets/conjugaison" 
        version="0.1"
        width="450"
        height="550"
        ub:resizable="true">
      
  		<name>Conjugaison</name>
		<author href="http://la-conjugaison.fr"
	            email="francois.bocquet@diena.org">Francois Bocquet</author>
		<description>Conjugaison</description>

        <content src="http://mobile.la-conjugaison.fr/du/verbe/apprendre.php"/>
</widget>